body, button {
    font-family: 'Courier New', monospace;
}

.center {
    display: block;
    text-align: center;
    margin-top: 50px ;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: 25px auto;
}

.grid-item {
    border: 0px solid black;
}